body {
  padding-top: 51px;
}

table thead tr {
    font-weight: bold;
    border-bottom: solid 2px #BFBFBF;
}

.debug {
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    text-align: center;
    animation: kdebug 2s infinite;
}

@keyframes kdebug {
    0% { background-color: #AEDBEA; color: #000000; }
    50% { background-color: #4793AB; color: #FFFFFF; }
    100% { background-color: #AEDBEA; color: #000000; }
}

.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

#flist-contents {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.trusted {
    color: #008000;
    margin-right: 5px;
}

.contributors {
    color: #ADD8E6;
    margin-right: 5px;
}

table#files span.glyphicon-file {
    color: #1A1A1A;
    margin-right: 5px;
}

table#files span.glyphicon-eye-open {
    color: #4D4D4D;
    margin-right: 5px;
}
