0.0.0.0:2015

timeouts 30m

log stdout
root public

oauth {
    client_id       __CLIENT_ID__
    client_secret   __CLIENT_SECRET__
    redirect_url    http://__HOST__/_iyo_callback

    authentication_required    /upload
    authentication_required    /upload-flist
    authentication_required    /merge
    authentication_required    /docker-convert
    authentication_required    /api/rename
    authentication_required    /api/delete
}

proxy / __PYTHON_HOST__:5000 {
	except /static
}
