0.0.0.0:2015

log stdout
root public

oauth {
    client_id       __CLIENT_ID__
    client_secret   __CLIENT_SECRET__
    redirect_url    http://__HOST__/_iyo_callback

    authentication_required    /upload
}

proxy /upload __PYTHON_HOST__:5000

rewrite / {
    regexp .*
    if {uri} not /upload
    if {uri} not_has _iyo_callback
    if {dir} not_has static
    to /users/{uri}
}

markdown / {
    css /static/github-markdown.css
    template /static/markdown.html
}

browse /users internal/browse.html
browse /static


