0.0.0.0:2015

log stdout
root public

oauth {
    client_id       __CLIENT_ID__
    client_secret   __CLIENT_SECRET__
    redirect_url    http://__HOST__/_iyo_callback

    authentication_required    /upload
}

proxy / __PYTHON_HOST__:5000 {
	except /static
}
