certifi==2017.4.17
chardet==3.0.4
click==6.7
decorator==4.0.6
docker-py==1.10.6
docker-pycreds==0.2.1
Flask==0.12.2
g8storclient==0.1.5
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
pytoml==0.1.14
redis==2.10.5
requests==2.18.2
simplegeneric==0.8.1
six==1.10.0
urllib3==1.22
websocket-client==0.44.0
Werkzeug==0.12.2
