{% extends "layout.html" %}
{% block title %}Zero-OS Hub{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Docker Hub Converter</h1>
        <p>With this tool, you can convert an existing docker image to our hub and uses it out-of-box with our container system.</p>
    </div>
</div>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="/">Repositories</a></li>
        <li class="active">Docker converter</li>
    </ol>

    <div id="progress">
        <h2 id="status">Converting STATUS... please wait.</h2>
        <div class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
        </div>
        </div>
    </div>

    <div id="info-block" class="alert alert-success" role="alert" style="display: none;">
        <strong>Filename:</strong> <span class="filename"></span><br>
        <strong>Files:</strong> <span class="files"></span><br>
        <strong>Directories:</strong> <span class="directories"></span><br>
        <strong>Symlinks:</strong> <span class="symlinks"></span><br>
        <strong>Specials:</strong> <span class="specials"></span><br>
        <strong>Size:</strong> <span class="fullsize"></span>
    </div>

    <div id="error-block" class="alert alert-danger" role="alert" style="display: none;">
        <strong>Oops:</strong> <span class="message"></span>
    </div>

    <div class="alert alert-info" role="alert">
        <strong>Job ID:</strong> {{ jobid }}
    </div>

</div>

<script type="text/javascript">
var evtSource = new EventSource('/listen/{{ jobid }}');

evtSource.onmessage = function(e) {
    console.log(e.data);

    var item = JSON.parse(e.data);

    if(item.status == "update") {
        $("#status").html(item.message);

        if(item.message.startsWith("Building: processing")) {
            // reduce flist progress bar to fit 56 -> 95%
            var progress = parseInt((item.progress / 100) * 44) + 56;
            item.progress = progress;
        }

        $("#progress .progress-bar").attr("aria-valuenow", item.progress);
        $("#progress .progress-bar").css("width", item.progress + "%");

        if(item.progress == 100) {
            $("#progress .progress-bar").addClass("progress-bar-success");
            $("#progress .progress-bar").removeClass("active");
        }
    }

    if(item.status == "info") {
        $("#info-block").show();
        $("#info-block .filename").html(item.info.file);
        $("#info-block .files").html(item.info.flist.regular);
        $("#info-block .directories").html(item.info.flist.directory);
        $("#info-block .symlinks").html(item.info.flist.symlink);
        $("#info-block .specials").html(item.info.flist.special);

        var size = (item.info.flist.fullsize / (1 << 20)).toFixed(2)
        $("#info-block .fullsize").html(size + ' MB (apparent)');
    }

    if(item.status == "error") {
        $("#progress .progress-bar").addClass("progress-bar-danger");
        $("#progress .progress-bar").removeClass("active");
        $("#error-block").show();
        $("#error-block .message").html(item.message);
    }
}
</script>
{% endblock %}
