<html>
    <head>
        <meta charset="utf-8">

        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="/static/default.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">
	</head>
	<body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">G8OS Hub</a>
            </div>

            {% if username %}
            <div id="navbar" class="navbar-collapse collapse">
              <form class="navbar-form navbar-right">
                <a href="#" class="btn btn-success">Logged in: {{ username }}</a>
              </form>
            </div>
            {% endif %}
        </div>
        </nav>

        {% if debug %}
        <div class="debug">
            This is a <em>staging</em> and <em>unstable</em> version, do not trust it.
        </div>
        {% endif %}

        {% block content %}
        {% endblock %}

        <div class="container">

        <hr>

        <footer>
            <p>&copy; 2017 - GIG Technology NV</p>
        </footer>
        </div>
	</body>
</html>
