{% extends "layout.html" %}
{% block title %}Zero-OS Hub{% endblock %}

{% block content %}


<div class="jumbotron">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/">Repositories</a></li>
            <li><a href="/{{ targetuser }}/">{{ targetuser }}</a></li>
            <li class="active">{{ flistname }}</li>
        </ol>

        <h1>{{ flistname }}</h1>
        <p>
            This archive was uploaded by <code>{{ targetuser }}</code>.

            <h3>Source File</h3>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="input-info form-control" id="flist-url" value="{{ flisturl }}" readonly>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-block" onclick="clipboard('#flist-url');">Copy</button>
                    </div>
                </div>
            </div>

            <h3>Storage Address</h3>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="input-info form-control" id="storage-url" value="{{ ardbhost }}" readonly>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-block" onclick="clipboard('#storage-url');">Copy</button>
                    </div>
                </div>
            </div>

            <h3>Archive Checksum (MD5)</h3>
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="input-info form-control" id="checksum" value="{{ checksum }}" readonly>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-primary btn-block" onclick="clipboard('#checksum');">Copy</button>
                    </div>
                </div>
            </div>

            <h2>Metadata</h2>
            <div class="form-group" id="metadata-list">
            </div>

            <button type="button" id="metadata-btn" class="btn btn-primary" onclick="return metadata_list();">Load Metadata</button>


            <!--
            <article class="markdown-body" id="flist-readme">
                <a class="initial" href="#" onclick="return readme();">Load the readme</a>
            </article>
            -->

            <h2>Contents</h2>
            <pre id="flist-contents"><a href="#" onclick="return contents();">Show the contents</a></pre>
        </p>
    </div>
</div>

<script>
/*
function readme() {
    $("#flist-readme").html("Loading...");

    $.get('/api/flist/{{ targetuser }}/{{ flistname }}/metadata', function(data) {
        if(data['readme'] == null) {
            $("#flist-readme").html("This archive doesn't have readme.");
            return false;
        }

        $("#flist-readme").html(marked(data['readme']['readme']));
    });

    return false;
}
*/

function contents() {
    $("#flist-contents").html("Loading...");

    $.get('/api/flist/{{ targetuser }}/{{ flistname }}', function(data) {
        var header = data['directory'] + " directories, " +
                     data['regular'] + " regular files, " +
                     data['symlink'] + " symlinks and " +
                     data['special'] + " special files.\n\n";

        var contents = [];

        for(var index in data['content'])
            contents.push(data['content'][index]["path"]);

        $("#flist-contents").html(header + contents.join("\n"));
    });

    return false;
}

function metadata_list() {
    $("#metadata-btn").html("Loading, please wait").prop("disabled", true);

    $.get('/api/flist/{{ targetuser }}/{{ flistname }}/metadata', function(data) {
        $("#metadata-btn").remove();

        for(var name in data) {
            let meta = $("<div>", {"class": "input-group meta-box"});
            let value = data[name];

            meta.append($('<code>', {"class": "input-group-addon text-capitalize meta-head"}).html(name));

            if(name == "readme") {
                // meta.append($('<article>', {"class": "form-control"}).html(marked(value['readme'])));
                meta.append($('<article>', {"class": "form-control"}).html(value['readme']));

            } else {
                let clean = value.replace(/</g, "&lt;").replace(/>/g, "&gt;");
                meta.append($('<pre>', {"class": "form-control meta"}).html(clean));
            }

            $("#metadata-list").append(meta);
        }
    });

    return false;
}
</script>
{% endblock %}
