{% extends "layout.html" %}
{% block title %}GIG Hub{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Hello you !</h1>
        <p>Do you want to publish your g8os flist to our hub? It's easy.</p>
        <p>All you need is a <code>.tar.gz</code> archive of your files and upload it here. Simple.</p>
        <p><a class="btn btn-primary btn-lg" href="/upload" role="button">Upload my file</a></p>
    </div>
</div>

<div class="container">
<ol class="breadcrumb">
  <li><a href="/">Repositories</a></li>
  <li class="active">{{ targetuser }}</li>
</ol>

<div id="home" style="display: block;">
    <h2>/{{ targetuser }}/</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <td style="width: 50%;">Name</td>
                <td>Preview</td>
                <td>Size</td>
                <td>Updated</td>
            </tr>
        </thead>

        <tbody>
        {% for file in files %}
        <tr>
            <td>
                <span class="glyphicon glyphicon-file" style="color: #1A1A1A;"></span>
                <a href="/{{ targetuser }}/{{ file['name'] }}">{{ file['name'] }}</a>
            </td>
            <td>
                <a href="/{{ targetuser }}/{{ file['name'] }}.md">
                <span class="glyphicon glyphicon-eye-open" style="color: #4D4D4D;"></span>
                </a>
            </td>
            <td>{{ file['size'] }}</td>
            <td>{{ file['updated'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
