{% extends "layout.html" %}
{% block title %}Zero-OS Hub{% endblock %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <h1>Hello you !</h1>
        <p>Do you want to publish your Zero-OS flist to our hub? It's easy.</p>
        <p>All you need is a <code>.tar.gz</code> archive of your files and upload it here. Simple.</p>
        <p><a class="btn btn-primary btn-lg" href="/upload" role="button">Upload my file</a></p>
    </div>
</div>

<div class="container">
<ol class="breadcrumb">
    <li><a href="/">Repositories</a></li>
    <li class="active">{{ targetuser }}</li>
</ol>

<div id="home" style="display: block;">
    <h2>/{{ targetuser }}/</h2>
    <table class="table table-hover" id="files">
        <thead>
            <tr>
                <td style="width: 50%;">Name</td>
                <td>Preview</td>
                <td>Size</td>
                <td>Updated</td>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="4">Loading files...</td>
            </tr>
        </tbody>
    </table>
</div>
</div>

<script>
$(document).ready(function() {
    $.get("/api/flist/{{ targetuser }}", function(data) {
        flists(data, "{{ targetuser }}");
    });
});
</script>
{% endblock %}
