body {
  padding-top: 51px;
}

table thead tr {
    font-weight: bold;
    border-bottom: solid 2px #BFBFBF;
}

.debug {
    height: 50px;
    line-height: 50px;
    font-size: 21px;
    text-align: center;
    animation: kdebug 2s infinite;
}

@keyframes kdebug {
    0% { background-color: #AEDBEA; color: #000000; }
    50% { background-color: #4793AB; color: #FFFFFF; }
    100% { background-color: #AEDBEA; color: #000000; }
}

.jumbotron {
    padding-top: 10px !important;
    padding-bottom: 20px !important;
}

#flist-contents {
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

.trusted {
    color: #008000;
    margin-right: 5px;
}

.contributors {
    color: #ADD8E6;
    margin-right: 5px;
}

table#files span.glyphicon-file {
    color: #1A1A1A;
    margin-right: 5px;
}

table#files span.glyphicon-eye-open {
    color: #4D4D4D;
    margin-right: 5px;
}


.search-form {
    text-align: center;
    width: 100%;
    padding: 1em 1em 2em 1em;
}

input#search {
    width: 80%;
}

table#entries {
    display: none;
}

.loading {
    text-align: center;
}

article.markdown-body {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

article.markdown-body a.initial {
    color: #337ab7;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

.input-info {
    font-family: monospace;
}

.meta-head {
    width: 100px;
    display: block;
    background-color: #d9edf7 !important;
}

.meta-box {
    margin-bottom: 12px;
}

pre.meta {
    height: auto;
}
