#
# You should adapt this part to your usage
#
config = {
    'backend-internal-host': "my-zdb",
    'backend-internal-port': 9900,
    'backend-internal-pass': '',

    'backend-public-host': "hub.tld",
    'backend-public-port': 9900,

    'public-website': "https://hub.tld",

    'ignored-files': ['.', '..', '.keep'],
    'official-repositories': ['official-apps', 'dockers'],

    # enable debug or production mode
    'debug': True,
}
